
div {
  background-color: burlywood; 
  border: 1px; border-color: black;
  border-style: solid;
  
}

 h1 {
     margin: 5px ;
     outline: 5px black solid; 
 }

section1 {
   background-color: royalblue;
}
