*{
    outline: 0px black solid;
    border: 0px; color: black;
    border-radius: 1%; 
}
body {
  background-color: burlywood; 
  border: 5px; color: black
  
}

 h1 {
     margin: 5px ;
     outline: 5px black solid; 
 }

 h2 {margin: 5px;
    outline: 0px;
    color: rosybrown;
 }